
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans|Ubuntu');

.Doctor {
font-family: 'Major Mono Display', monospace;
}

.Who {
font-family: 'Major Mono Display', monospace;
font-size:50px;
}

.s5e13 {
font-size:30px;
}